* {
	margin: 0;
    padding: 0;
}

main {
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	width: 650px;
    position: relative;
    z-index: 1;
}

.bottom__inform {
	margin-bottom: 25px;
	padding-top: 45px;
	padding-bottom: 25px;
	text-align: center;
	background-color: #fff;
	font-size: 25px;
	font-family: 'Nunito', sans-serif;
}

#slots {
	background-color: #fff;
	border: 7px solid rgb(189, 183, 183);
    width: 550px;
    margin: 0 auto;
}

.bottom {
    display: flex;
    position: relative;
    left: 100px;
    font-family: 'Nunito', sans-serif;
}

.bottom__button {
	margin-top: 25px;
    padding-top: 15px;
	border-radius: 15px;
    border: 5px solid #000;
	text-align: center;
	background-color: #6cd3ec;
    width: 200px;
    height: 45px;
	font-size: 25px;
    cursor: pointer;
    position: absolute;
    left: 300px;
}

#slot1, #slot2, #slot3, 
#slot4, #slot5, #slot6, 
#slot7, #slot8, #slot9 {
	display: inline-block;
	margin: 15px;
    object-fit: cover;
    background-size: 150px 100px;
    background-repeat: no-repeat;
	width: 150px;
	height: 100px; 
}

.slots__red_line {
    position: absolute;
    z-index: 2;
    bottom: 355px;
    width: 550px;
    border-top: 5px solid red;
    display: none;
}

.s1{
	background-image: url("../img/bar.png");
}
.s2{
	background-image: url("../img/blue_seven.png");
}
.s3{
	background-image: url("../img/double_bar.png");
}
.s4{
	background-image: url("../img/double_lucky_sevens.png");
}
.s5{
	background-image: url("../img/lucky_sevens.png");
}
.s6{
	background-image: url("../img/red_seven.png");
}
.s7{
	background-image: url("../img/triple_bar.png");
}
